<ul class="menu">
    <li>@Html.ActionLink("Create Article", "Create", "BlogArticle")</li>
    <li>@Html.ActionLink("Music", "Index", "Music")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
</ul>