<!--nav>
    <div class="menu noWrap">
        <div>@Html.ActionLink("Home", "Index", "Home")</div>
        <div>@Html.ActionLink("Blog", "Index", "BlogArticle")</div>
        <div>@Html.ActionLink("Music", "Index", "Music")</div>
        <div>@Html.ActionLink("Shows", "Index", "BlogArticle")</div>
    </div>
</nav-->