<header>
    
    <div class="title">
        <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Content/images/WoodTitleBlackTransBackSmall.png")" alt="home" /></a>
    </div>
    
    @{
        Html.RenderAction("Photos", "PhotoAdapterSettings");
    }

@*    @Html.Partial("_NavigationPartial")*@

</header>