.entityview {
    display: inline-block;
}
.entityview .leftColumn {
    width: 70%;
}
.entityview .rightColumn {
    width: 30%;
}
@media only screen and (max-width: 900px) {
    .entityview .leftColumn {
        width: 60%;
    }
    .entityview .rightColumn {
        width: 40%;
    }
}
@media only screen and (max-width: 400px) {
    .entityview .leftColumn {
        width: 100%;
    }
    .entityview .rightColumn {
        display: none;
    }
}

.entityview .item .title {
    font-size: 1.5em;
}
.entityview .item .content {
    max-height: 20em;
    overflow: hidden;
}
@media only screen and (max-height: 700px) {
    .entityview .item .content {
        max-height: 16em;
    }
}
@media only screen and (max-height: 500px) {
    .entityview .item .content {
        max-height: 12em;
    }
}