@model Ewk.BandWebsite.Web.Common.Models.ItemListModel<Ewk.BandWebsite.Web.Common.Models.PhotoAdapterSettings.PhotoDetailsModel>

<div id="pictureBar">
    @if(Request.IsAuthenticated)
    {
        <span class="editLink">
            @Html.ActionLink("photo settings", "Index", "PhotoAdapterSettings")
        </span>
    }
    <div id="pictures" class="noWrap">
        @foreach (var item in Model.Items)
        {
            @Html.Partial("~/Views/Photo/_Photo.cshtml", item)
        }
    </div>
</div>