@model Ewk.BandWebsite.Web.Common.Models.ItemListModel<Ewk.BandWebsite.Web.Common.Models.Performance.PerformanceDetailsModel>

<div class="performance summary history">
    
    <div class="title">
        @Model.Title
    </div>

    <div class="items">
        @foreach (var item in Model.Items)
        {
            @Html.Partial("~/Views/Performance/_Item.cshtml", item)
        }
    </div>

</div>