@model Ewk.BandWebsite.Web.Common.Models.Performance.PerformanceDetailsModel

@{
    ViewBag.Title = "Show";
}

<div class="detail">
    @Html.Partial("_Item", Model)
    <p>
        @Html.ActionLink("<< Back to List", "Index")
    </p>
</div>