@model Ewk.BandWebsite.Web.Common.Models.ItemListModel<Ewk.BandWebsite.Web.Common.Models.Performance.PerformanceDetailsModel>

@{
    ViewBag.Title = "Performance";
}

<div id="performance" class="entityview">
    
    <div class="leftColumn">
        @{Html.RenderAction("Future", "Performance");}
        @{Html.RenderAction("Past", "Performance");}
    </div>

    <div class="rightColumn">
        <div class="summary">
            <div class="title">
                Cities
            </div>
            <div class="items">
                Coming soon...
            </div>
        </div>
    </div>

</div>