@model Ewk.BandWebsite.Web.Common.Models.ItemListModel<Ewk.BandWebsite.Web.Common.Models.Blog.BlogArticleDetailsModel>

@{
    ViewBag.Title = "Blog";
}

<div id="blog" class="entityview">
    
    <div class="leftColumn">
        <div class="summary">
            
            <div class="title">
                <a href="/BlogArticle">Blog</a>
            </div>

            <div class="items">
                <div data-bind="template: { name: 'Article', templateUrl: 'templates/blog', foreach: items }"></div>
            </div>

        </div>
    </div>

    <div class="rightColumn">
        <div class="summary">
            <div class="title">
                Tags
            </div>
            <div class="items">
                Coming soon...
            </div>
        </div>
    </div>

</div>