@model Ewk.BandWebsite.Web.UI.Models.ItemListModel<Ewk.BandWebsite.Web.UI.Models.Blog.BlogArticleDetailsModel>

@{
    ViewBag.Title = "Blog";
}

<div id="blog" class="entityview">
    
    <div class="leftColumn">
        <div class="summary">
            <div class="title">
                @Model.Title
                @if(Request.IsAuthenticated)
                {
                    <span class="editLink">
                        @Html.ActionLink("new", "Create", "BlogArticle")
                    </span>
                }
            </div>
            <div class="items">
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("_Item", item)
                }
            </div>
        </div>
    </div>

    <div class="rightColumn">
        <div class="summary">
            <div class="title">
                Tags
            </div>
            <div class="items">
                Coming soon...
            </div>
        </div>
    </div>

</div>