@model Ewk.BandWebsite.Web.Common.Models.AudioAdapterSettings.AudioDetailsModel

@{
    ViewBag.Title = "Song";
}

<div class="detail">
    <div class="title">
        @Model.Title
    </div>
    <div class="content">
        @Html.Partial("~/Views/Audio/_AudioWidgetPartial.cshtml")
    </div>
    <p>
        @Html.ActionLink("<< Back to List", "Index")
    </p>
</div>