<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <div id="blog" class="summary">
    
        <div class="title">
            <a href="/">Blog</a>
        </div>

        <div class="items">
            <div data-bind="template: { name: 'Article', templateUrl: 'templates/blog', foreach: items }"></div>
        </div>

        <div class="footer">
            <a href="/">View more items</a>
        </div>

    </div>
</div>