@model Ewk.BandWebsite.Web.Common.Models.ItemListModel<Ewk.BandWebsite.Web.Common.Models.VideoAdapterSettings.VideoDetailsModel>

@{
    ViewBag.Title = "Video";
}

<div id="video" class="entityview">
    
    <div class="leftColumn">
        <div class="summary">
            <div class="title">
                @Model.Title
                @if(Request.IsAuthenticated)
                {
                    <span class="editLink">
                        @Html.ActionLink("video settings", "Index", "VideoAdapterSettings")
                    </span>
                }
            </div>
            <div class="items">
                Coming soon...
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("_Item", item)
                }
            </div>
        </div>
    </div>

    <div class="rightColumn">
        <div class="summary">
            <div class="title">
                Tags
            </div>
            <div class="items">
                Coming soon...
            </div>
        </div>
    </div>

</div>