@{
    ViewBag.Title = "Index";
}

<div id="video" class="entityview">
    
    <div class="leftColumn">
        <div class="summary">
            <div class="title">
                Videos
                @if(Request.IsAuthenticated)
                {
                    <span class="editLink">
@*                        @Html.ActionLink("new", "Create", "Video")*@
                    </span>
                }
            </div>
            <div class="items">
                Coming soon...
@*
                @foreach (var item in Model.Items)
                {
                    @Html.Partial("_Item", item)
                }
*@
            </div>
        </div>
    </div>

    <div class="rightColumn">
        <div class="summary">
            <div class="filter">
                <div class="title">
                    Tags
                </div>
            </div>
        </div>
    </div>

</div>