/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif !important;
    margin: 0;
    padding: 0;
    color: #3f3f3f;
}

img {
    border-style:none;
}

a {
    color: #8f8f8f;
    text-decoration: underline;
}

a:hover {
    color: #f80;
    text-decoration: none;
}

a:active {
    color: #f40;
}

p, ul {
    margin-bottom: 2em;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
        border: none;
}
@media only screen and (max-width: 900px) {
    .page {
        width: 100%;
    }
}

header .title {
    font-weight: bold;
    color: #999;
    line-height: 1.5em;
    font-size: 4em;
    vertical-align: middle;
    padding: 0.1em 0.5em;
    margin: 0;
}
@media only screen and (min-width: 400px) {
    header .title {
        background-image: url('/Content/images/WoodLogoBlackTransBackSmall.png');
        background-repeat:no-repeat;
        background-origin:content-box;
        background-position: right;
    }
}
header .title a {
    color: #999;
}
header .title a:hover {
    color: #bbb;
}
header .title img {
    height: 0.8em;
}
#main {
    min-height: 30em;
}

footer {
    background-color: #3f3f3f;
    color: #999;
    padding: 1.3em;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: 0.9em;
}
footer a {
    padding: 0 0.7em;
    text-decoration: none;
    white-space: nowrap;
    color: #999;
}
footer .soclialSharing {
    display: inline-block;
    float: right;
    text-align: right;
}
footer .soclialSharing .twitter {
    display: inline-block;
}
footer .soclialSharing .facebook {
    display: inline-block;
}
footer .links {
    display: block;
}
footer .copyRight {
    display: block;
}

.detail {
    padding: 1em;
}
.detail .detialLink {
    display: none;
}

.leftColumn {
    float: left;
}

.centerColumn {
    float: left;
}

.rightColumn {
    float: left;
}

.summary {
    padding: 1em 1.3em;
}
.summary .footer {
    background-color: #999;
    text-align: center;
}
.summary .footer a{
    display: block;
    color: white;
}
.item {
    text-align: left;
    display: inline-block;
    padding: 0.5em 0;
    width: 100%;
}
.item .footer {
    color: #999;
    text-align: left;
    background-color: transparent;
}
.item .footer a{
    color: #999;
}

.items .item {
    border-top: 0.1em dashed #ccc;
}
.items .item:hover {
    background-color: #eee;
}

.content .items {
    display: inline-block;
}

.content .editLink {
    font-size: 0.75em;
}

.title {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.4em;
}
.title a {
    color: #3f3f3f;
    display: block;
    text-decoration: none;
}
.title a:hover {
    color: #f80;
}
.title a:active {
    color: #f40;
}
.title .editLink {
    font-size: 0.5em;
}

.footer {
    margin-top: 0.5em;
}

.detialLink {
    float: right;
}

.editLink a {
    color: #f40;
    text-decoration: none;
}
.editLink a:hover {
    color: #3f3f3f;
}
.editLink a:active {
    color: #f80;
}

/* PICTUREBAR
----------------------------------------------------------*/
#pictureBar {
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-height: 230px) {
    #pictureBar {
        display: none;
    }
}

div#pictures {
    position: relative;
    width: 100%;
    left: 0px;
}
div#pictures .picture {
    display: inline-block;
    padding: 1.1em 0.8em;
}
div#pictures .picture img 
{
    height: 12em;
    background-color: #EEE;
    cursor: pointer;

    -webkit-box-shadow: .3em .3em .5em .1em #999;
    -moz-box-shadow: .3em .3em .5em .1em #999;
    -o-box-shadow: .3em .3em .5em .1em #999;
    box-shadow: .3em .3em .5em .1em #999;
}
@media only screen and (max-height: 700px) {
    div#pictures .picture {
        padding: 0.8em 0.6em;
    }
    div#pictures .picture img {
        height: 7.5em;
    }
}
@media only screen and (max-height: 600px) {
    div#pictures .picture {
        padding: 0.5em 0.35em;
    }
    div#pictures .picture img {
        height: 5em;
    }
}
div#pictures .picture img:hover {
    outline: #F80 inset .1em;

    -webkit-box-shadow: .4em .4em .5em .1em #999;
    -moz-box-shadow: .4em .4em .5em .1em #999;
    -o-box-shadow: .4em .4em .5em .1em #999;
    box-shadow: .4em .4em .5em .1em #999;
}

/* TAB MENU
----------------------------------------------------------*/
div.menu {
    position: relative;
    background-color: #3f3f3f;
}

div.menu div {
    display: inline;
}
@media only screen and (max-width: 500px) {
    div.menu div {
        display: block;
        text-align: center;
    }
}

div.menu div a {
    padding: 0.7em 1.4em;
    border-right: 1px solid #999;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    white-space: nowrap;
    color: #f3f3f3;
}
@media only screen and (max-width: 500px) {
    div.menu div a {
        border-right: 0 solid #999;
        border-top: 1px solid #999;
        border-bottom: 1px solid #999;
        line-height: 2em;
        display: block;
    }
}

div.menu div a:hover {
    background-color: #f3f3f3;
    text-decoration: none;
    color: #3f3f3f;
}

div.menu div a:active {
    background-color: #d6d6d6;
    text-decoration: none;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif !important;
    min-height: 20em;
    width: 100%;
}

textarea,
input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    color: #444;
}

input[type="text"], 
input[type="password"] {
    width: 20em;
}
@media only screen and (max-width: 400px) {
    input[type="text"], 
    input[type="password"] {
        width: 100%;
    }
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 0.85em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

.noWrap {
    white-space: nowrap;
}

nav, 
#menucontainer {
    margin: 2em 0 0 0;
}
@media only screen and (max-height: 700px) {
    nav, 
    #menucontainer {
        margin: 1.5em 0 0 0;
    }
}
@media only screen and (max-height: 600px) {
    nav, 
    #menucontainer {
        margin: 0.8em 0 0 0;
    }
}
@media only screen and (max-height: 500px) {
    nav, 
    #menucontainer {
        margin: 0;
    }
}

div#title {
    display: block;
    text-align: center;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    font-weight: bold;
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}